HTTP-Digest response can have an unquoted value for qop directive which is illegal

According to RFC 2617, the qop directive is supposed to be a list of tokens surrounded by quotes, such as "auth", "auth-int", or "auth,auth-int".

I am trying to make a request to /digest-auth/:qop/:user/:passwd where qop is "auth".

If the request is made to http://httpbin.org/digest-auth/auth/user/passwd, the response will have a header like:

```
WWW-Authenticate:"Digest nonce="7286613c536cd114c65a03320564ca18", opaque="79459f0a6bce44c954119845e9f7d9c1", realm="me@kennethreitz.com", qop=auth"
```

That is, quotes around "auth" are missing.

If the request is made to http://httpbin.org/digest-auth/&quot;auth&quot;/user/passwd or http://httpbin.org/digest-auth/&quot;auth&quot;/user/passwd, the qop directive seems to be ignored:

```
WWW-Authenticate:"Digest nonce="6144da602a286365a128af72f1286128", opaque="99230b0558007e005a2c7f2c48eb7e51", realm="me@kennethreitz.com", qop="auth, auth-int""
```

The syntax of the qop directive for the WWW-Authenticate header is described in [Section 3.2.1 of RFC 2617](https://tools.ietf.org/html/rfc2617#section-3.2.1):

> ```
>  qop-options       = "qop" "=" <"> 1#qop-value <">
>  qop-value         = "auth" | "auth-int" | token
> ```

Note the quotes around the list of qop-values.
